# LLM keys
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
GOOGLE_API_KEY=""
XAI_API_KEY=""
OLLAMA_BASE_URL="http://localhost:11434"

# Embedding Model (sentence transformers)
EMBED_MODEL_NAME="all-MiniLM-L6-v2"

# Qdrant Server
QDRANT_HOST="localhost"
QDRANT_PORT=6333
#QDRANT_API_KEY=